p {
  color: red;
  /* This is a single-line comment */
  text-align: center;
}


h1 {
  color: navy;
  margin-left: 20px;
}
body {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
